.info-container {
  position: relative;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 100vh;
}

.info-container .banner {
  background: url('../../img/banner.svg') no-repeat center center/cover;
  width: 25%;
  position: fixed;
  top: 10vh;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.info {
  width: 75%;
  margin-left: 25%;
}

.info .container-inner {
  width: 80%;
  margin: 0 auto 3rem auto;
  padding-bottom: 50px;
}

.info .img-container img {
  width: 100%;
  border-radius: 5px;
  margin: 1rem 0;
}

.info .lead {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.info p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.info h2 {
  font-size: 1.7rem;
}

.info .info-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
}

.info .info-video iframe {
  width: 700px;
  height: 400px;
}

@media screen and (max-width: 1024px) {
  .info-container .banner {
    display: none;
  }

  .info {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .info .info-video iframe {
    width: 600px;
    height: 300px;
  }
}

@media screen and (max-width: 650px) {
  .info .info-video iframe {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .info .info-video iframe {
    width: 350px;
    height: 200px;
  }
}
