.countries .banner {
  width: 25%;
  position: fixed;
}

.countries .content {
  column-gap: 0px;
  width: 75%;
  margin-left: 25%;
}

.countries .content .container {
  width: 100%;
  margin: 0;
}

.countries .card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

.countries .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-bottom: 1rem;
}

.countries .card .card-img .img-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countries .card .card-img img {
  width: 80%;
  transition: all ease-in 0.4s;
}

.countries .card .card-img img:hover {
  transform: scale(1.2);
}

.countries .card .card-content {
  position: relative;
  padding: 2rem;
  padding: 0;
  display: flex;
  text-align: center;
}

.countries .card .card-content .card-info a {
  font-size: 1.5em;
  color: #fff;
  margin: 0.25rem 0;
  text-align: center;
}

.countries .card .card-content .card-info a:hover {
  color: var(--primary-color);
}

.countries .card .card-content .card-info span {
  font-size: 0.9rem;
  color: var(--secondary-color);
}

@media screen and (max-width: 650px) {
  .countries .card {
    width: 33.3%;
  }
}

@media screen and (max-width: 500px) {
  .countries .card {
    width: 50%;
  }
}
