@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --primary-color: #1ebff7;
  --secondary-color: #fec731;
  --dark-color: #00022e;
  --light-color: #f4f4f4;
  --danger-color: #b42937;
  --success-color: #28a745;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.background {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.background .banner {
  background: url('./img/banner.svg') no-repeat center center/cover;
  width: 30%;
  position: fixed;
  top: 10vh;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.background .content {
  background: url('./img/esc-stage-background.jpg') center center/cover fixed;
  top: 10vh;
  left: 0;
  width: 70%;
  margin-left: 30%;
  position: relative;
  height: 90vh;
}

.container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}

.container-inner {
  margin: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.spinner-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Utilities */
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.small-text {
  color: rgb(110, 110, 110);
  font-size: 0.8rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-white {
  color: #fff;
}

.btn-container {
  display: flex;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-secondary {
  background: var(--secondary-color);
  color: var(--dark-color);
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-light {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 2px solid transparent;
}

.btn-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-primary:hover {
  background: var(--secondary-color);
  color: #fff;
}

.btn-secondary:hover {
  background: var(--dark-color);
  color: var(--secondary-color);
}

.btn-dark:hover {
  opacity: 0.8;
}

.btn-light:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 2px solid var(--light-color);
}

.btn-light.active {
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 2px solid var(--light-color);
}

/* Forms */
.admin-form .container-inner {
  width: 80%;
  margin: 2rem auto;
  color: #fff;
}

.admin-form .container-inner p,
.admin-form .container-inner small {
  color: var(--secondary-color);
}

.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='number'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
}

.form input[type='submit'],
button {
  font: inherit;
}

/* Register / Login */
.auth .overlay {
  display: flex;
  justify-content: center;
}
.auth .auth-container {
  color: var(--light-color);
  width: 60%;
  margin-top: 2rem;
}

.notfound .container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}

@media screen and (max-width: 1200px) {
  .background .banner {
    width: 25%;
  }

  .background .content {
    width: 75%;
    margin-left: 25%;
  }

  .hide-md {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .background .banner {
    display: none;
  }

  .background .content {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .lead {
    font-size: 1.5rem;
  }

  .hide-sm {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .hide-xs {
    display: none;
  }
}
